@import "./animations.scss";
// Globals
.search-page {
  nav {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    height: 12.5rem;
    &.scrolled {
      background-color: rgba(255, 255, 255, 0.9);
      height: auto;
      .logo-wrapper {
        width: 150px;
      }
    }
    &.navbar {
      ul {
        margin-bottom: 0;
        li {
          margin-bottom: 0;
          h4 {
            margin-bottom: 0;
          }
          a {
            color: $blue;
            #nav-icon {
              span {
                background: $blue;
              }
            }
          }
        }
      }
    }
    .searchParams {
      display: flex;
      flex-wrap: nowrap;
      list-style: none;
      padding-left: 0;
      li {
        padding: 1.5rem 2.5rem;
        flex: 1 1 auto;
        text-align: center;
        border: 1px solid #d6dce2;
        &:nth-of-type(1) {
          a {
            font-size: 1.4rem;
            text-transform: uppercase;
            font-weight: 700;
          }
        }

        a {
          color: #636972;
          font-size: 1.6rem;
          font-weight: 500;
        }
      }
    }
  }
}
