body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background: #cf5831;
    color: #fff;
}


/* Preloader */

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1b242f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader>img {
    width: 70vh;
}

.loader.hidden {
    animation: fadeOut 1300ms;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


/* Pacman Loader */

@keyframes lds-pacman-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@-webkit-keyframes lds-pacman-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes lds-pacman-2 {
    0% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    50% {
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@-webkit-keyframes lds-pacman-2 {
    0% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    50% {
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes lds-pacman-3 {
    0% {
        -webkit-transform: translate(190px, 0);
        transform: translate(190px, 0);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(70px, 0);
        transform: translate(70px, 0);
        opacity: 1;
    }
}

@-webkit-keyframes lds-pacman-3 {
    0% {
        -webkit-transform: translate(190px, 0);
        transform: translate(190px, 0);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(70px, 0);
        transform: translate(70px, 0);
        opacity: 1;
    }
}

.lds-pacman {
    position: relative;
}

.lds-pacman>div:nth-child(2) div {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 120px;
    height: 60px;
    border-radius: 120px 120px 0 0;
    background: #04C2C9;
    -webkit-animation: lds-pacman-1 0.9s linear infinite;
    animation: lds-pacman-1 0.9s linear infinite;
    -webkit-transform-origin: 60px 60px;
    transform-origin: 60px 60px;
}

.lds-pacman>div:nth-child(2) div:nth-child(2) {
    -webkit-animation: lds-pacman-2 0.9s linear infinite;
    animation: lds-pacman-2 0.9s linear infinite;
}

.lds-pacman>div:nth-child(1) div {
    position: absolute;
    top: 92px;
    left: -8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #e31b6d;
    -webkit-animation: lds-pacman-3 0.9s linear infinite;
    animation: lds-pacman-3 0.9s linear infinite;
}

.lds-pacman>div:nth-child(1) div:nth-child(1) {
    -webkit-animation-delay: -0.603s;
    animation-delay: -0.603s;
}

.lds-pacman>div:nth-child(1) div:nth-child(2) {
    -webkit-animation-delay: -0.297s;
    animation-delay: -0.297s;
}

.lds-pacman>div:nth-child(1) div:nth-child(3) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.lds-pacman {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}


/* To the top */

#toTop {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #252934;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#toTop:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

.sectionTitle {
    font-size: 40px;
    font-weight: 700;
}

.gray {
    background: #F5F5F5;
}

section {
    color: #444;
    padding: 4% 5%;
}

.magenta {
    color: #e31b6d;
    width: 10px!important;
}

.divider {
    width: 7%;
    border: 0.4vh #444 solid;
    background: #444;
}

#particles-js {
    background: #252934;
    height: 70vh;
    width: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {
    #particles-js {
        width: 100%;
    }
    #navbarSupportedContent ul li {
        display: inline-block!important;
        padding-bottom: 10px;
    }
    #navbarSupportedContent ul li a {
        padding: 15px 0;
        margin-left: 20%;
        display: inline-block!important;
    }
}

.heroText {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 30vh;
    left: 32%;
}

.heroText h3 {
    font-size: 32pt;
    line-height: 0.5;
}

@media (min-width: 320px) and (max-width: 480px) {
    .heroText h3 {
        line-height: 1;
        font-size: 2em;
    }
    .heroText {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 20vh;
        left: 10%;
        margin-left: -30px;
    }
}


/* Nav */

.bg-light {
    background-color: #1B242F!important;
}

.nav-link {
    color: #fff!important;
    padding: 0 20px!important;
    line-height: 0;
}

.nav-link:hover {
    color: #e31b6d!important;
}

nav {
    border-bottom: 3px solid #04C2C9;
    text-align: left;
}

.scrolled {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    transition: all 0.6s ease-out;
}

.logo {
    margin-left: 5%!important;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.1);
    transition: all ease-in-out 300ms;
}

.logoImg {
    line-height: 0;
    width: 90px;
    height: auto;
    padding: 5px 0;
}


/* About */


/* Picture */

.imgFrame img {
    width: 300px;
    height: auto;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(40% at 50% 50%);
}


/* Bio */

.bio {
    font-size: 1.1em;
}


/* Skills */

.logosContainer,
.education {
    margin-top: 50px;
}

.skillLogos img {
    margin-top: 30px;
    min-height: 60px;
    max-height: 60px;
}

.skillLogos:hover,
.eduLogos:hover {
    transform: scale(1.1);
    transition: all ease-in-out 300ms;
    cursor: pointer;
}


/* Languages */

.languages ul li {
    list-style: none;
}


/* Portfolio */

#portfolio {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {
    #portfolio {
        padding: 0;
    }
}

.projectImg {
    /* width: 300px;
    height: 175px; */
    border-radius: 5px;
    border: 1px solid rgba(51, 51, 51, 0.2);
}

.projectCard {
    /* padding: 15px; */
    /* border: 0.5px solid rgba(51, 51, 51, 0.2); */
    border-radius: 5px;
    /* min-height: 200px;
    max-height: 200px; */
    min-width: 350px;
    max-width: 350px;
    margin: 10px 20px;
    padding: 15px;
    transition: transform 0.5s;
    /* transition: box-shadow 0.55s; */
}

.projectCard:hover {
    background: #ededed;
    /* background: rgba(4, 194, 201, 0.3); */
    transform: scale(0.95);
    box-shadow: inset 0px 0px 4px 0px rgba(4, 194, 201, 1);
}

.projectLink:hover {
    text-decoration: none;
    color: #e31b6d;
}

.blockquote-footer {
    font-size: 12px;
}


/* Contact */

#contact {
    background: #252934;
    color: #fff;
}

#contact p {
    color: #04C2C9;
}

#contact ul li {
    list-style-type: square;
}

#contact ul li a {
    color: #fff;
    text-decoration-color: #04C2C9;
}

#contact form input[type="text"],
#contact form input[type="email"],
#contact form textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: 0;
    padding: 10px 15px;
    background: #1E242C;
    font-size: 12pt;
    margin-bottom: 3px;
    color: #fff;
}

.paddingRight {
    padding-right: 2px!important;
}

.paddingLeft {
    padding-left: 2px!important;
}

#contact form .button {
    float: right;
    margin: 5px 0 0 0;
    font-size: 12pt;
    padding: 10px 30px;
    color: #fff;
    background: transparent;
    outline: 0;
    border: 2px solid #fff;
    transition: all .5s;
}

#contact form .button:hover {
    background: #04C2C9;
    border-color: #04C2C9;
}

#contact form .button:active {
    transform: scale(0.5)
}

.alert {
    display: none;
    color: #fff;
    width: 50%;
}


/* Footer */

footer {
    background: #1B242F;
    padding: 35px 0 10px 0;
}

footer ul {
    margin-left: -40px;
}

footer ul li {
    list-style: none;
    display: inline;
}

footer ul li i {
    padding: 10px;
    margin: 0 10px;
    background: #262f38;
    min-width: 50px;
    color: #fff;
}

footer p {
    text-align: center;
}

@-webkit-keyframes pulse {
    25% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    75% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@keyframes pulse {
    25% {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
    75% {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
}

.pulse {
    display: inline-block;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.pulse:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}