$blue: #031f40;
$lightBlue: #768fa3;
$gray: #636972;

// @mixin regularFont() {
//   font-family: "FrutigerRegular", sans-serif;
// }

// @mixin boldFont() {
//   font-family: "FrutigerBlack", sans-serif;
// }
// @mixin lightFont() {
//   font-family: "FrutigerLight", sans-serif;
// }
